# Ignore virtual environment
venv/

# Ignore dataset images
dataset/*

# But optionally include a README for dataset instructions
!dataset/README.md

# Ignore Python cache
__pycache__/
*.pyc

# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# Ignore model checkpoints
*.pth

# Ignore Mac system files
.DS_Store

# Ignore VS Code settings
.vscode/