# Ignore virtual environment
venv/

# Ignore dataset images
dataset/*

# But optionally include a README for dataset instructions
!dataset/train_test_split/README.md

# Ignore Python cache
__pycache__/
*.pyc

# Ignore Jupyter checkpoints
.ipynb_checkpoints/